@use '../../../styles/mixins.scss' as *;
main {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: black;
    background-image: url(/assets/img/Notebookpaper.png);
    background-size: cover;
    background-position: left;
    @include standard-flex();
    gap: 20%;

    font-size: 1.25rem;

    .back {
        align-self: start;

        >a {
            text-decoration: none;
            color: #0E161F;
            @include standard-flex();
            gap: 1rem;
            font-size: 1.25rem;

            &:hover {
                color: #3355FF;
            }

            >img {
                width: 2rem;
            }
        }
    }

    .left {
        width: calc(40% - 10rem);
        @include standard-flex(center, start);
        flex-direction: column;

        .project-information {
            padding-left: 4rem;


            >h2 {
                font-size: 2rem;
            }

            >h1 {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 60%;
                    left: 0;
                    width: 20rem;
                    height: 2rem;
                    background-image: url('/assets/img/decoration_underline_turk.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .right {
        width: calc(40% - 10rem);
        @include standard-flex(center, end);
        flex-direction: column;
        color: whitesmoke;

        >img {
            width: 100%;
            margin-right: 3rem;
            border-radius: 12px;
        }

        .buttons {
            margin-top: 3rem;
            margin-right: 3rem;
            display: flex;
            gap: 1rem;
        }

        .next {
            >a {
                @include standard-flex();
                margin-top: 3rem;
                gap: 0.5rem;
                color: whitesmoke;
                text-decoration: none;

                &:hover {
                    color: #F7C518;
                }
    
            }
        }
    }

    .skills {
        @include standard-flex(start);
        gap: 1rem;
        
        >div {
            @include standard-flex();
            gap: 0.25rem;
            
            >img {
                width: 2rem;
            }
        }
        
    }
}