@use '../../../styles/mixins.scss' as *;

section {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    background-image: url(/assets/img/Notebookpaper.png);
    background-size: 120% 100%;
    background-position: left;

    @media (max-width:1200px) {
        
        background-image: url(/assets/img/Notebookpaper_rotate.png);
        background-size: 180% 150%;
        background-position: top left;
        
    }

    >main {
        min-height: 100vh;
        @include standard-flex();
        gap: 25%;
        font-size: 1.25rem;
    
        @media (max-width:1200px) {
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        @media (min-width: 1921px) {
            max-width: 1920px;
            margin: auto;
        }
    }
}

.back {
    align-self: start;
    margin-top: 5rem;

    @media (max-width: 1200px) {
        display: none;
        margin-top: 0rem;
    }

    >a {
        text-decoration: none;
        color: #0E161F;
        @include standard-flex();
        gap: 1rem;
        font-size: 1.25rem;

        &:hover {
            color: #3355FF;
        }

        >img {
            width: 2rem;
        }
    }
}

.left {
    width: calc(40% - 10rem);
    @include standard-flex(center, start);
    flex-direction: column;

    @media (max-width: 1200px) {
        width: 90%;
        margin-top: 5rem;
    }

    .project-information {
        padding-left: 4rem;
        width: 100%;


        >h2 {
            font-size: 2rem;
        }

        >h1 {
            position: relative;

            @media (max-width:1550px) {
                font-size: 2.5rem;
            }

            &::after {
                content: '';
                position: absolute;
                top: 60%;
                left: 0;
                width: 20rem;
                height: 2rem;
                background-image: url('/assets/img/decoration_underline_turk.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.right {
    width: calc(40% - 5rem);
    @include standard-flex(center, end);
    flex-direction: column;
    color: whitesmoke;

    @media (max-width: 1200px) {
        width: 90%;
        align-self: center;
        margin-bottom: 2rem;
    }

    >img {
        max-width: 100%;
        margin-right: 3rem;
        border-radius: 12px;

        @media (max-width: 1200px) {
            margin-right: 0;
            width: 100%;
        }
    }

    .buttons {
        margin-top: 3rem;
        margin-right: 3rem;
        display: flex;
        gap: 1rem;

        >a {
            height: 2rem;
        }
    }


}

.skills {
    @include standard-flex(start);
    gap: 1rem;

    >div {
        @include standard-flex();
        gap: 0.25rem;

        >img {
            width: 2rem;
        }
    }
}

.navigation-buttons {


    @media (max-width:1200px) {
        width: 100%;
        font-size: 2.5rem;
        @include standard-flex(space-between);
    }
}

.mobile-back {
    display: none;

    @media (max-width:1200px) {
        display: block;
        font-size: 2.5rem;
    }

    >a {
        @include standard-flex();
        text-decoration: none;
        margin-top: 1.5rem;
        gap: 0.5rem;
        font-size: 1.25rem;
        color: whitesmoke;

        &:hover {
            color: #3355FF;
        }

        >img {
            width: 2rem;
        }
    }
}

.next {
    >a {
        @include standard-flex();
        text-decoration: none;
        margin-top: 1.5rem;
        gap: 0.5rem;
        font-size: 1.25rem;
        color: whitesmoke;


        &:hover {
            color: #F7C518;
        }

    }
}