@use '../../../styles/mixins.scss' as *;
nav {
    
    position: absolute;
    top: 1rem;
    width: 95%;
    @include standard-flex(space-between);

    >img {
        width: 8rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.black-text {
    color: black;
}

.black-bg {
    background-color: black;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

    >img {
        padding: 0 10rem;
    }
}

.invert {
    filter: invert(1);
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -90%;
        left: 50%;
        width: var(--circleWidth, 10rem);
        height: 5rem;
        background-image: url('/assets/img/decoration_circle.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateX(-50%);
        clip-path: inset(0 0 100% 0); 
        transition: clip-path 0.25s ease; 
        pointer-events: none;
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}
