<section>

    <nav [ngClass]="{ 'invert': isPrivacyPolicy || isImprint}">

        <img [ngClass]="{ 'invert': isProjectPage}" [routerLink]="'/'" src="./assets/img/logorembg.png" alt="logo">

        <button class="burger-menu-btn" (click)="toggleBurgerMenu()" [ngClass]="{ 'mobile-black-text': isProjectPage}">
            ☰
        </button>

        <div class="nav-links" [ngClass]="{ 'show': isBurgerMenuOpen }">
            <button class="close-menu-btn" (click)="toggleBurgerMenu()">✖</button>
            <a href="#about" [ngClass]="{ 'black-text': isProjectPage}">{{ isGerman ? 'über mich' : 'About me' }}</a>
            <a href="#skills" [ngClass]="{ 'black-text': isProjectPage}">{{ isGerman ? 'Fähigkeiten' : 'Skills' }}</a>
            <a href="#projects" [ngClass]="{ 'mobile-black-text': isProjectPage}">{{ isGerman ? 'Projekte' : 'Projects'
                }}</a>
            <a href="#contact" [ngClass]="{ 'mobile-black-text': isProjectPage}">{{ isGerman ? 'Kontakt' : 'Contact'
                }}</a>
            <img [src]="languageIcon" (click)="toggleLanguage()" alt="LanguageSwitch">
        </div>
    </nav>
</section>