@use '../../../styles/mixins.scss' as *;
nav {
    position: absolute;
    top: 1rem;
    width: 95%;
    @include standard-flex(space-between);

    >img {
        width: 8rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.black-text {
    color: black;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
    position: relative; // Wichtig, damit ::after relativ zu a positioniert wird

    &::after {
        content: '';
        position: absolute;
        top: -90%;
        left: 50%;
        width: var(--circleWidth, 10rem);
        height: 5rem;
        background-image: url('../../../assets/img/decoration_circle.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateX(-50%);
        clip-path: inset(0 0 100% 0); // Anfangszustand: komplett ausgeblendet
        transition: clip-path 0.25s ease; // Animation
        pointer-events: none;
    }

    &:hover::after {
        clip-path: inset(0 0 0 0); // Endzustand: Bild vollständig sichtbar
    }
}
