<main>
    <img [src]="location" alt="location-image">
    <div>
        {{ isGerman ? 'Wer ist Sascha?': 'Who is Sascha?'}}
        <h2>{{ this.isGerman ? 'Über mich' : 'About me' }}</h2>
        <p>{{ isGerman ?
            'Als leidenschaftlicher und vielseitiger Entwickler strebe ich stets danach, meine Techniken zu verbessern,'+
            ' mein Skillset zu erweitern und neue Wachstumsmöglichkeiten zu erkunden. Meine Reise begann in der Spieleentwicklung,'+
            ' wo ich meine Expertise in 3D-Art, Animation und Programmierung verfeinern konnte. Kürzlich habe ich meinen Fokus auf'+
            ' Frontend-Entwicklung verlagert und kombiniere dabei Kreativität und technische Präzision,'+
            ' um ansprechende und benutzerfreundliche digitale Erlebnisse zu gestalten. Jedes Projekt –'+
            ' sei es im Bereich Game Design oder Webentwicklung – hat meine Fähigkeiten geformt und meine Leidenschaft für innovative Problemlösungen weiter entfacht.' 
            : 
            'As a passionate and versatile developer, I am constantly striving to improve my techniques,'+
            ' expand my skill set, and explore new opportunities for growth. My journey began in game development,'+
            ' where I honed my expertise in 3D art, animation, and programming. Recently, I have shifted my focus'+
            ' toward frontend development, combining creativity and technical precision to craft engaging and'+
            ' user-friendly digital experiences. Each project—whether in game design or web development—has shaped'+
            ' my skills and fueled my passion for solving complex problems through innovative solutions.'}}</p>
        <p>{{ isGerman ? 'Lass uns zusammen Projekte realisieren' : 'lets collaborate together'}}</p>
        <a href="#contact"><button class="site-button-bright-bg">{{isGerman ? "Lass Reden" : "Lets Talk"}}</button></a>

    </div>
</main>