<main>
    <img [src]="location" alt="location-image">
    <div>
        {{ isGerman ? 'Wer ist Sascha?': 'Who is Sascha?'}}
        <h2>{{ this.isGerman ? 'Über mich' : 'About me' }}</h2>
        <p>{{ isGerman ?
            'Als leidenschaftlicher und motivierter Spieleentwickler bin ich ständig bestrebt, '+
            'meine Techniken zu verbessern, meine Fähigkeiten zu erweitern und neue Möglichkeiten für Wachstum zu finden.'+
            'Jedes meiner Projekte - sowohl allein als auch in Zusammenarbeit - hat dies ermöglicht. Ich interessiere mich für jeden Teil der Spieleentwicklung,'+
            ' insbesondere für Game Design, 3D-Art und Animation sowie für die Programmierung.' 
            : 
            'As a passionate and motivated game developer, I am constantly striving to improve my techniques, expand my skills and find new opportunities for growth.' +
            ' Each of my projects - both solo and collaborative - has enabled this. ' +
            'I am passionate about every part of game development, especially Game Design, 3D-Art and animation as wellas programming.'}}</p>
        <p>{{ isGerman ? 'Lass uns zusammen projekte realisieren' : 'lets collaborate together'}}</p>
        <img src="../../assets/img/TalkButton.png" alt="">

    </div>
</main>