@use '../../styles/mixins.scss' as *;

main {
    @include standard-flex(space-evenly);
    gap: 2rem;
    margin: 6rem;

    @media (max-width: 1200px) {
        flex-direction: column-reverse;
        margin: 3rem;
    }

    @media (max-width: 500px) {
        margin: 1rem;
    }

    @media (min-width: 1920px) {
        max-width: 1920px;
        margin: auto;
    }

    a {
        align-self: end;
        height: 2rem;
    }

    >img {
        width: 40%;
        height: auto;
        padding-right: 1rem;

        @media (max-width: 1200px) {
            width: 80%;
            padding: 0;
        }
    }
    
    >div {
        @include standard-flex(space-between, start);
        flex-direction: column;
        width: 40%;
        padding-left: 1rem;
        height: auto;
        min-height: 400px;
        font-size: 1.25rem;

        @media (max-width:1200px) {
            font-size: auto;
            width: 90%;
        }

        >h2 {
            margin: 0;
            font-size: 3rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 60%;
                left: 0;
                width: 15rem; 
                height: 2rem; 
                background-image: url(/assets/img/decoration_underline_turk.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        >img {
            width: 8rem;
            align-self: flex-end;
        }
        
    }
}

section {
    text-align: start;
}