@use '../../styles/mixins.scss' as *;

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    

    >div {
        @include standard-flex(center, start);
        flex-direction: column;
        width: calc(50% - 10rem);
        margin: 0 5rem;

        >span {
            font-size: 1.25rem;
        }

        >h2 {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 70%;
                left: 0;
                width: 13rem; 
                height: 2rem; 
                background-image: url('../../assets/img/decoration_underline_swirl.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.single-project {
    width: calc(50% - 10rem);
    margin: 0 5rem;
}