<main>
    <section>
        <div class="left">
            <h3>{{isGerman ? "Kontaktier mich" : "Contact me"}}</h3>
            <h2>{{isGerman ? "Bereit zusammen zu Arbeiten?" : "Ready to work together?"}}</h2>
            <p>{{isGerman ? "Kontaktier mich über dieses Formular. Ich bin daran interessiert, von deinen Ideen zu hören und mit meiner Arbeit zu deinen Projekten beizutragen." : "Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work."}} </p>
            <p>{{isGerman ? "Nimm mit mir Kontakt auf und teil mir deine Projektdetails mit. Ich würde mich freuen, dir dabei helfen zu können, Software oder Webseiten zu erstellen, die deinen Bedürfnissen entspricht!" : "Feel free to get in touch with your project details. I'd love the opportunity to help create a website that meets your needs!"}} </p>
            <img src="./assets/img/swirlArrowRightYellow.png" alt="">
        </div>
        <div class="right">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="field" (click)="focusInput(nameInput)">
                    <label for="name">{{isGerman ? "Wie ist dein Name?":"What´s your name?"}}</label>
                    <input #nameInput #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name goes here" required>
                    @if (!name.valid && name.touched && !name.disabled) {
                        <span>{{isGerman ? "Oops! Sieht so aus als würde dein Name fehlen" : "Oops! it seems your name is missing" }}</span>
                    }
                </div>
                <div class="field" (click)="focusInput(emailInput)">
                    <label for="email">{{isGerman ? "Wie ist dein E-mail?":"What´s your email?"}}</label>
                    <input #emailInput #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="youremal@email.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    @if (!email.valid && email.touched && !email.disabled) {
                        <span>{{isGerman ?  "Hoppla! Deine email wird benötigt" : "Hoppla! your email is required" }}</span>
                    }
                </div>
                <div class="field" (click)="focusInput(messageInput)">
                    <label for="message">{{isGerman ? "Wie kann ich dir helfen?":"How can I help you"}}</label>
                    <textarea #messageInput #message="ngModel" [(ngModel)]="contactData.message" type="message" id="message" name="message" placeholder="Hello Sascha, I am interested in..." required></textarea>
                    
                    @if (!message.valid && message.touched && !message.disabled) {
                        <span>{{isGerman ?  "Bitte eine gültigen Nachricht eintragen" : "Pleaser enter a valid message" }}</span>
                    }
                    
                </div>
                <div class="privacy-check">
                    <input type="checkbox" id="privacyPolicy" name="privacyPolicy" [(ngModel)]="privacyAccepted" required>
                    <label for="privacyPolicy">
                        {{ isGerman ? "Ich habe die" : "I've read the" }} 
                        <a routerLink="/privacyPolicy" (click)="scrollToTop()">{{ isGerman ? "Datenschutzrichtlinie" : "privacy policy" }}</a>
                        {{ isGerman ? "gelesen und stimme der Verarbeitung meiner Daten zu." : "and agree to the processing of my data as outlined." }}
                    </label>
                </div>
                <div class="button-container">
                    <img src="./assets/img/swirlArrowRightYellow.png" alt="">
                    <button class="site-button-dark-bg" type="submit" [disabled]="!privacyAccepted" value="Submit">{{isGerman ? "Senden" : "Send"}}</button>
                </div>
                @if (messageSent) {
                    <span class="success-message">{{ isGerman ? "Danke für deine Nachricht! Ich melde mich bald." : "Thank you for your message! I'll get back to you soon." }}</span>
                }
            </form>
        </div>
    </section>
</main>

