main {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    padding-bottom: 10rem;

    

    >section {
        margin: 0 10rem;

        @media (min-width: 1921px) {
            max-width: 1920px;
            margin: auto;
        }
    }
}