

main {
    margin: 1rem 10rem;
    height: calc(100vh - 4rem);
    

    @media (max-width: 800px) {
        margin: 1rem;
    }

    @media (min-width: 1921px) {
        max-width: 1920px;
        margin: auto;
    }
    >h1 {
        padding-top: 4rem;
    }
}