/* bricolage-grotesque-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/bricolage-grotesque-v7-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bricolage-grotesque-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/bricolage-grotesque-v7-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-family: 'Bricolage Grotesque';
    scroll-behavior: smooth;
}

body {
    margin: 0;


}

h2 {
    font-size: 3rem;
    margin: 0;
}

.d-none {
    display: none;
}

.site-button {
        background-color: rgba($color: #000000, $alpha: 0.0);
        border-style: inset;
        color: whitesmoke;
        border-radius: 1.25rem;
        font-size: 1.25rem;
        padding: 0.4rem 1.25rem;     
        border-color: white;
        border-bottom-width: 4px;
        border-right-width: 4px;
        transition: border-bottom-width 0.25s ease;

        &:hover {
            border-width: 1px;
            background-color: orange;
            color: black;
        }
}