/* bricolage-grotesque-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/bricolage-grotesque-v7-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bricolage-grotesque-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/bricolage-grotesque-v7-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-family: 'Bricolage Grotesque';
    scroll-behavior: smooth;
    color: #0E161F;
    overflow-x: hidden;
}

body {
    margin: 0;


}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

.d-none {
    display: none;
}

@mixin site-button() {
    background-color: rgba($color: #000000, $alpha: 0.0);
    border-style: inset;
    border-radius: 1.25rem;
    font-size: 1.25rem;
    padding: 0.4rem 1.25rem;
    border-bottom-width: 4px;
    border-right-width: 4px;
    transition: border-bottom-width 0.25s ease, border-right-width 0.25s ease, margin 0.25s ease;

    &:hover {
        margin-top: 6px;
        border-width: 2px;
        cursor: pointer;
        background-color: #F87A55;
        color: #0E161F;
    }
}

.site-button-dark-bg {
    @include site-button();
    color: whitesmoke;
    border-color: white;

    &:disabled {
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: rgba(255, 255, 255, 0.5); 
        border-color: rgba(255, 255, 255, 0.5); 
        cursor: not-allowed; 
        pointer-events: none; 
    }

    &:not(:disabled):hover {
        margin-top: 6px;
        border-width: 2px;
        cursor: pointer;
        background-color: #F87A55;
        color: #0E161F;
    }

}

.site-button-bright-bg {
    @include site-button();
    color: #0E161F;
    border-color: black;
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 10px;
    }
}