@use '../../styles/mixins.scss' as *;
section {
    background-image: url(/assets/img/SkillsBG.jpg);
    background-size: cover;
    background-position: bottom;
    
}
main {
    width: 100%;
    min-height: 30vh;
    @media (min-width: 1921px) {
        max-width: 1920px;
        margin: auto;
    }
    color: whitesmoke;

    
}

.skill-textblock {

    @include standard-flex();

    @media (max-width: 1250px) {
        flex-direction: column;
    }

    @media (max-width: 500px) {
        font-size: 1.25rem;
    }

    .headline {
        width: 25%;
        margin: 10rem 1rem;
        margin-bottom: 0;
        @include standard-flex(start, end);
        flex-direction: column;
        font-size: 1.5rem;

        >h2 {
            font-size: 3rem;
            margin: 0;
        }

        @media (max-width: 1200px) {
            align-self: end !important;
            text-align: end;
            margin: 3rem 6rem;
        }

        @media (max-width: 500px) {
            width: 100%;
            margin: 2rem 2rem;
        }
    }

    
}

.torn-paper {
    width: 50%;
    margin: 10rem 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    padding-bottom: 4rem;
    height: auto;
    background-image: url(/assets/img/SkillsDescription.png);
    background-size: 100% 100%;
    color: black;
    text-align: center;

    @media (max-width: 1200px) {
        margin: 0;
        width: 80%;
    }

    >span {
        position: relative;
        top: 1rem;
        margin: 2rem;
        @include standard-flex();
    }
}

.empty {
    width: 25%;
}

.skills-grid {
    margin: auto;
    align-self: center;
    @include standard-flex();
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    padding-bottom: 10rem;

    @media (max-width: 1200px) {
        width:90%;
        padding-bottom: 5rem;
    }
}
