@use '../../styles/mixins.scss' as *;
main {
    background-image: url(/assets/img/SkillsBG.png);
    background-size: cover;
    background-position: bottom;
    color: whitesmoke;
    min-height: 80vh;
}

.skill-textblock {

    display: flex;
    justify-content: center;

    .headline {
        width: 25%;
        margin: 10rem 1rem;
        margin-bottom: 0;
        @include standard-flex(start, end);
        flex-direction: column;
        font-size: 1.5rem;

        >h2 {
            font-size: 3rem;
            margin: 0;
        }
    }
}

.torn-paper {
    width: 50%;
    margin: 10rem 1rem;
    margin-bottom: 0;
    height: 15rem;
    background-image: url(/assets/img/SkillsDescription.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    text-align: center;


    >span {
        position: relative;
        top: 1rem;
        margin: 2rem;
        @include standard-flex();

    }
}

.empty {
    width: 25%;
}

.skills-grid {
    margin: auto;
    align-self: center;
    @include standard-flex();
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    padding-bottom: 10rem;
}
