@use '../../../styles/mixins.scss' as *;

section {
    @media (min-width: 1921px) {
        max-width: 1920px;
        margin: auto;
    }
    

    .logo {
        width: 4rem;
        margin-left: 8rem;

        &:hover {
            cursor: pointer;
            filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
        }

        @media (max-width: 1200px) {
            margin-left: 2rem;
        }
    
        @media (max-width: 500px) {
            margin-left: 0.5rem;
        }
    
        
    }
}

main {
    background-color: transparent;
    color: whitesmoke;
    z-index: 10;
    height: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;

    @include standard-flex(space-between);

    @media (max-width: 1200px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (max-width: 500px) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    >a {

        >button {
            font-size: 1.25rem;
            border-radius: 1.25rem;
            padding: 0.4rem 1.25rem;
            border-style: none;
            background-color: transparent;
            color: whitesmoke;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        

        .full-button {
            position: relative;

            &:hover {
                background-color: #1073EA;

                ~.waving-icon {
                    opacity: 1;
                    transform: translate(-100%, 0) rotate(180deg);

                }
            }

        }

        .waving-icon {
            width: 2rem;
            position: relative;
            top: -1.25rem;
            left: -50%;
            transition: transform 0.7s ease, opacity 0.7s ease;
            opacity: 0;
            rotate: -180deg;

            @media (max-width: 1200px) {
                display: none;
                
            }
        }
    }
}

.black-color {
    color: black !important;
}

.underline-button {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 70%;
        left: 0;
        width: 6rem;
        height: 1rem;
        background-image: url(/assets/img/decoration_underline_swirl.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 0.25s ease;


    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}