<main>
    <div class="atf-wrapper">
        <div class="icons-wrapper">
            <a href="https://www.linkedin.com/in/sascha-t%C3%B6pfer-2a0b1319a/" target="_blank">
                <img class="mediaicons" src="/assets/img/icons/LinkedinIconSmall.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/SasToepfer" target="_blank">
                <img class="mediaicons" src="./assets/img/icons/GithubIconSmall.png" alt="GitHub">
            </a>
            <a href="mailto:info@sascha-toepfer-dev.de" target="_blank">
                <img class="mediaicons" src="./assets/img/icons/MailIconSmall.png" alt="Mail">
            </a>
        </div>

        <div class="text-wrapper">
            <div class="top">
                <div>
                    <button class="hover-button">
                        <span class="default-text">{{isGerman ? "Hallo Welt" : "Hello World"}}</span>
                        <span class="hover-text">I’m Sascha Töpfer</span>
                    </button>
                    <h1 class="frontend">
                        <span class="upper">F</span>
                        <span class="lower">r</span>
                        <span class="lower">o</span>
                        <span class="lower">n</span>
                        <span class="lower">t</span>
                        <span class="lower">e</span>
                        <span class="lower">n</span>
                        <span class="lower">d</span>
                    </h1>
                    <img class="waving-icon" src="./assets/img/waving_hand.png" alt="Waving Hand Icon">
                </div>
                <img class="photo" [src]="imageSrc" (mouseover)="onPictureHover()" (mouseout)="onPictureLeave()" alt="Profile Picture">
            </div>
            <div class="bottom">
                <h1>
                    <span class="upper">D</span>
                    <span class="upper">E</span>
                    <span class="upper">V</span>
                    <span class="upper">E</span>
                    <span class="upper">L</span>
                    <span class="upper">O</span>
                    <span class="upper">P</span>
                    <span class="upper">E</span>
                    <span class="upper">R</span>
                </h1>
                <div>
                    <a href="#contact"><button class="site-button-dark-bg">{{isGerman ? "Kontakt aufnehmen" : "Get in Touch"}}</button></a>
                </div>
            </div>
            <img class="photo-mobile" src="./assets/img/profile_picture.png" alt="Profile Picture">
        </div>

        <div class="icons-wrapper-mobile">
            <a href="https://www.linkedin.com/in/sascha-t%C3%B6pfer-2a0b1319a/" target="_blank">
                <img class="mediaicons" src="/assets/img/icons/LinkedinIconSmall.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/SasToepfer" target="_blank">
                <img class="mediaicons" src="./assets/img/icons/GithubIconSmall.png" alt="GitHub">
            </a>
            <a href="mailto:sascha-toepfer@googlemail.com" target="_blank">
                <img class="mediaicons" src="./assets/img/icons/MailIconSmall.png" alt="Mail">
            </a>
        </div>
    </div>
</main>