@use '../../styles/mixins.scss' as *;

main {
    background-image: url(/assets/img/atf_background.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    color: whitesmoke;

    @include standard-flex(space-evenly);
}

.atf-wrapper {
    display: grid;
    grid-template-columns: 10% 1fr 15%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    align-items: center;

    @media (min-width: 1921px) {
        max-width: 1920px;
        margin: auto;
    }
}



.icons-wrapper {
    @include standard-flex(end);
    flex-direction: column;
    gap: 1rem;
    height: 80%;
}

.icons-wrapper-mobile {
    @include standard-flex();
    display: none;
    gap: 1rem;
}

.mediaicons {
    width: 2.5rem;
    border: 1px solid white;
    border-radius: 20%;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
    }
}



.text-wrapper {
    @include standard-flex(space-evenly);
    flex-direction: column;


    h1 {
        font-size: 6rem;
        margin: 0;
        @media (max-width: 500px) {
                font-size: 4rem;
        }

        span {
            transition: transform 0.3s ease, text-transform 0.3s ease, color 0.3s ease;
            text-transform: none;

            @media (max-width: 500px) {
                font-size: 4rem;
        }
        }

        .upper {
            &:hover {
                text-transform: lowercase;
                color: yellow;
            }
        }

        .lower {
            &:hover {
                text-transform: uppercase;
                color: yellow;
            }
        }
    }

    .photo {
        margin-left: 3rem;
        margin-bottom: 1rem;
        rotate: 12deg;
    }

    .top {
        width: 40%;
        @include standard-flex(start, end);
        position: relative;
    }

    .bottom {
        width: 60%;
        @include standard-flex(start, end);
        flex-direction: column;

        >div {
            height: 1rem;
        }
    }
}



.photo {
    width: 14rem;
}

.photo-mobile {
    width: 14rem;
    display: none;
}



.hover-button {
    position: relative;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 1.25rem 6rem; 
    font-size: 1.5rem;
    border-radius: 24px;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover {
        background-color: blue;
        padding: 1.25rem 8rem;
    }

    @media (max-width: 1200px) {
        background-color: blue !important;
        padding: 1.25rem 8rem !important;
    }

    .default-text,
    .hover-text {
        position: absolute;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        transition: opacity 0.7s ease, transform 0.7s ease;
    }

    .default-text {
        opacity: 1;

        @media (max-width: 1200px) {
            opacity: 0 !important;
        }
    }

    .hover-text {
        opacity: 0;

        @media (max-width: 1200px) {
            opacity: 1 !important;
        }
    }

    &:hover .default-text {
        opacity: 0;
    }

    &:hover .hover-text {
        opacity: 1;
    }
}

.waving-icon {
    position: absolute;
    top: 3rem; 
    left: 20%; 
    transform: translateX(-50%);
    transition: transform 0.7s ease, opacity 0.7s ease; 
    opacity: 0; 
    rotate: -360deg;

    
}

.hover-button:hover~.waving-icon {
    opacity: 1;
    transform: translate(200%, 0) rotate(360deg); 

}

@media (max-width: 1200px) {
    

    .photo {
        display: none !important;
    }

    .photo-mobile {
        margin-top: 2rem;
        display: block;
        align-self: center;
        rotate: 12deg;
    }

    .icons-wrapper {
        display: none;
    }

    .icons-wrapper-mobile {
        display: flex;
    }

    .atf-wrapper {
        @include standard-flex();
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
    }

    .text-wrapper {
        @include standard-flex(center, start);
        width: 100%;

        .top {
            margin-left: 5rem;

            @media (max-width: 550px) {
                margin-left: 2rem;
            }
        }
    
        .bottom {
            width: 90%;
            margin-right: 2rem;

            @media (max-width: 550px) {
                margin-right: 1rem;
                width: 95%;
            }
        }
    }

    .waving-icon {
        top: -3rem;
    }
}