
<main>
    <div class="atf-wrapper">
        <!-- Left icons -->
        <div class="icons-wrapper">
            <a href="https://www.linkedin.com/in/sascha-t%C3%B6pfer-2a0b1319a/" target="_blank">
                <img class="mediaicons" src="../../assets/img/Property 1=Linledin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/SasToepfer" target="_blank">
                <img class="mediaicons" src="../../assets/img/Property 1=Git hub.png" alt="GitHub">
            </a>
            <a href="#" target="_blank">
                <img class="mediaicons" src="../../assets/img/Property 1=Mail.png" alt="Mail">
            </a>
        </div>

        <!-- Center content -->
        <div class="text-wrapper">
            <div class="top">
                <div>
                    <button class="hover-button">
                        <span class="default-text">Hello World</span>
                        <span class="hover-text">I’m Sascha Töpfer</span>
                    </button>
                    <h1>Frontend</h1>
                    <img class="waving-icon" src="../../assets/img/waving_hand.png" alt="Waving Hand Icon"> <!-- Hier den aktualisierten Pfad hinzufügen -->
                </div>
                <img class="photo" src="../../assets/img/profile_picture.png" alt="Profile Picture">
            </div>
            <div class="bottom">
                <h1>DEVELOPER</h1>
                <div>
                    <button class="site-button">Get in Touch</button>
                </div>
                
                <!-- <img src="../../assets/img/getInTouch.png" alt="Get in Touch Button"> -->
            </div>
        </div>

        <!-- Profile picture -->

    </div>
</main>